<% new_or_existing = survey_question.new_record? ? "new" : "existing" %>
<% prefix = "survey[#{new_or_existing}_survey_question_attributes][]"%>

<% fields_for prefix, survey_question do |question_form| -%>
    <TR class="question_row">
      <TD>
        <label>Title</label><br/>
        <%= question_form.text_field :title, :onfocus => 'javascript:clearErrorMessages(this);', :onblur => 'javascript:presence(this);' %>
      </TD>
      <TD><%= link_to_function "Remove", "$(this).up('.question_row').remove();" %></TD>
    </TR>
<% end -%>
