<% QuickLink.order('updated_at DESC').limit(10).each do |ql| %>
  <div class="colorful <%= cycle('orange', 'white', 'green', 'white') %>">
    <% if ql.external? %>
      <A href="<%= ql.external_link %>" target="_blank"><%= ql.title %></A>
    <% else %>
      <%= link_to ql.title, ql.attachment.url %>
    <% end %>
  </div>
<% end %>
