Dear <%= @er.registration.name %>,

<p>We're glad that you are concerned! Thanks for registering for the event <%= @er.event.title %>.</p>

<p>Please click on the below link to confirm your registration.</p>

<p>http://www.saaku.in/confirm_participation/<%= @er.guid %></p>
<p>Please visit http://saaku.in for more details about the Anti-Corruption Events. </p>

<p>If you're not the correct person registered, kindly ignore this email.</p>

<p>- Saaku Team.</p>
