Dear <%= @registration.name %>,

<p>We're glad that you are concerned! Thanks for registering for the Anti-Corruption Crusade.</p>

<p>Please click on the below link to confirm your registration.</p>

<p>http://www.saaku.in/confirm/<%= @registration.guid %></p>
<p>Please visit http://www.saaku.in for more details about the Anti-Corruption Events. </p>

<p>If you're not the correct person registered, kindly ignore this email.</p>

<p>- Saaku Team.</p>
