<div style="height:380px;margin-top:100px;">
<div class="form dialog" style="border:1px solid #000;padding:10px;"> 
    <h2>Sorry, We could not find registration entry.</h2> 
    <p> Possible reasons </p>
    <ul>
      <li> If you have copy-pasted the url sent to your email, please check if the complete url is copied </li>
      <li> If you have already confirmed, re-clicking on the link will lead to this page. </li>
    </ul>
    <A href="/">Click here to go back to the home page</A>
</div> 
</div>
