<div class="tabber">
  <div class="tabbertab">
    <h3>Cheque</h3>
    <div>
        Please write your cheque in favour of <br/>
        <strong>Corruption Saaku A/c No. 0167351000002032 </strong> and send it to  <br/>
        Lakshmi Vilas Bank, <br/>
        Koramangala Branch,<br/>
        68, Transpade Towers, <br/>
        Jyothi Niwas College Road, <br/>
        Koramangala Industrial Layout, <br/>
        5th Block, Koramangala, <br/>
        Bangalore 560095
    </div>
  </div>
  <div class="tabbertab">
    <h3>e-transfer</h3>
    <div>
        <strong>Account Name</strong> :  Corruption Saaku <br/>
        <strong>RTGS/IFSC Code</strong> : LAVB0000167 <br/>
        <strong>Account Number</strong> : 0167351000002032 <br/>
    </div>
  </div>
</div>
