<%= recaptcha_tags %>
<% if @captcha_error %>
<div style="background-color:#E6DDD5;border:2px solid #EC1F26;text-align:center;width:384px;padding:5px;">Please enter the words shown in the above image in the text box. </div>
<% end %>
