<div style="padding:5px;border-left:1px dotted #000;height:auto;" class="quick-links">
  <p style="padding-left:10px;border-bottom:1px dotted #000;"> <span class="highlighted-text">Connect with Us</span></p>
  <ul class="pretty-listing" style="">
    <li style="font-size:13px;">
      <A href="http://www.facebook.com/pages/Saaku/218303511518787"><img src="/images/facebook.jpg" /></A>
    </li>
    <li style="font-size:13px;">      
      <A href="http://twitter.com/#!/saakulive"><img src="/images/twitter.png"></A>
    </li>
  </ul>
</div>