<div class="span-22 prepend-1 append-1" style="font-family:Verdana;font-size:14px;text-align:justify;">
<br/>
<p>In September-October 2010, a few citizens in Bangalore decided that they would do something about the mounting evidence of corruption in public life, both in the State and at the Centre. Beginning with a core group of volunteers from Loksatta and SmartVote, the initiative quickly grew to include participation from many of the leading public interest organisations in Bangalore. Many of the group members had also earlier collaborated in Loksatta's successful anti-corruption campaign to Empower the Lokayukta - specifically, to remove Section 19 of the Lokayukta Act, which required the sanction of Government to prosecute offenders and to grant suo-moto powers to Karnataka Lokayukta.</p>

<p>The name SAAKU (meaning 'enough' in Kannada) was chosen to represent, in a simple and direct way, the message of the anti-corruption campaign.</p>

<p>
In December 2010, Corruption Saaku organised its first public rally against corruption in Bangalore, in which several hundred participants took part in a 1.5-km march in the centre of the city. Arvind Kejriwal, Dr Jayaprakash Narayan and Dr R Balasubramaniam gave public lectures on the need to fight corruption in public life. The event also included live performances by some of the city's well known artistes Thermal and a Quarter, and M D Pallavi. The music band Swarathma has also supported many Saaku campaigns by its performances at Saaku public events.</p>

<p>Enthused by the support of citizens in the first rally, Saaku went on to hold other events - the Dandi March 2 in early 2011 to remember Gandhiji's famed earlier march against the British, as well as public rallies to support the India Against Corruption campaign led by Anna Hazare. Saaku, as the Karnataka coordinating arm of the IAC campaign, has been among the leading public organisations demanding the Jan Lokpal Bill. The wide support in Bangalore for this law - second only to the efforrs in Delhi - were largely the result of Saaku's network of volunteers and their organised and committed support.</p>

<p>At Freedom Park on April 8, more than 10,000 citizens of the city joined Saaku's public demand for the Jan Lokpal Bill, which the Government agreed to introduce that same day.</p>
</br/>
</div>
