<style>
  div.faq_page { font-size:14px; font-family: Verdana; }
  ul { list-style-type: none; padding-left:0;}
  div.question { font-weight: bold; font-size: 14px; background-color: #FFF; padding-left:0; margin-top: 10px;}
  div.answer { margin-top: 5px; margin-bottom: 5px; }
</style>
<div class="span-22 prepend-1 append-1"> 
<div class="question" style="font-size:16px;">FREQUENTLY ASKED QUESTIONS</div>
<div class="faq_page">
<p>
  Some volunteers, especially those who participated in the recent campaign at Freedom Park and in related events, have asked what the difference is between Saaku and IAC Karnataka. This document is to explain some of the questions that have been asked.
</p>

<ul>

  <li>
    <div class="question"> What is SAAKU </div>
    <div class="answer">
      Saaku is an anti-corruption initiative which was begun in 2010 in Bangalore. The group works on issues of corruption in Karnataka - like empowering the Lokayukta, cleaning up the PDS system, and demanding government action against corruption wherever it is observed.
    </div>
  </li>
  <li>
    <div class="question"> What is Saaku's connection to IAC? </div>
    <div class="answer">
      <p>
        In Bangalore, Saaku took upon itself the responsibility to promote the IAC's campaign for the Jan Lokpal Bill. The various tasks for the campaign - booking the venue, arranging shamiana, sound system, getting police permission, fundraising and paying costs, and many other things - were done by Saaku and its volunteers initially, and they were subsequently joined by many others as the campaign grew. Team Anna's earlier visit in May to Bangalore was also organised by Saaku.
      </p>
      <p>
        Prithvi Reddy from Saaku is a core committee member of IAC - this core committee includes 20+ people from different parts of the country, who have helped build and manage the Jan Lokpal campaign.
      </p>
    </div>
  </li>
  <li>
    <div class="question"> I am a big follower of Annaji, and I want to support and volunteer for IAC - what are the next steps? </div>
    <div class="answer">
      IAC's focus at the moment is in ensuring that the Jan Lokpal campaign ends with a the creation of a strong Lokpal at the Centre and Lokayuktas in each of the States, as promised by Parliament in its 'sense of the House' resolutions. A larger program of needed reforms - electoral, judicial, administrative, etc. - has been identified by IAC, but it will take a few days/weeks before the exact steps in those directions become known. For the moment, therefore, most of the volunteer work for IAC is in the area of promoting the Jan Lokpal.
    </div>
  </li>
  <li>
    <div class="question">What should I do if I only want to support IAC, but am not interested in Saaku? </div>
    <div class="answer">
      Volunteers and supporters are free to provide time, energy, resources and other support to whichever activities they want to support, and keep away from others. There is no compulsion to join all of Saaku's work, if you only want to work on IAC issues.
    </div>
  </li>
  <li>
    <div class="question">Can I work with IAC directly?</div>
    <div class="answer">Of course. You can write to IAC directly and discuss your interest with them.</div>
  </li>
  <li>
    <div class="question">Does Saaku do anything other than IAC work? Why not focus only on the IAC campaigns?</div>
    <div class="answer">
      <p>
        As mentioned above, Saaku is interested in a continuous effort to tackle corruption in different aspects of public life in Karnataka. To that end, it focuses from time to time on different aspects of corruption that are exposed in Karnataka.
      </p>
      <p>
        Saaku and IAC have related goals, but are different in their focus. Saaku is focused on Karnataka, and is interested in anti-corruption work in this state. IAC is a national campaign focusing on nationwide issues, and may therefore not take up some issues that are local. Saaku was created to tackle local problems, and will continue to do that. 
      </p>
      <p>
        IAC presently has a focused initial mandate of Jan Lokpal Bill. Like IAC, Saaku believes that JLB is the first step to fight corruption but is not the solution by itself. Saaku will continue to create awareness regarding JLB and garner support of citizens in Karnataka ,in the meanwhile Saaku would like to continue to encourage people’s participation and engagement in fighting corruption at a day to day ground level. As and when IAC decides further steps Saaku will support initiatives that are of common interest.
      </p>
      <p>
        Volunteers who are keen to participate only in IAC campaign for JLB or in some campaigns but not others can pick and choose which goals and efforts they want to support.
      </p>
    </div>
  </li>
</ul>
</div>
</div>
