<!--style> 
  td.bullet { width: 42px; } 
  table.colorful tr td div { background-color: #EC1F26; padding:5px; width:125px;}
  table.colorful tr td div A { color: #FFF; padding:5px; font-size:14px; font-weight:bold; }
  div.colorful { padding:5px; font-size:14px; font-weight:bold; margin-bottom:10px; padding:10px;}
  div.orange { background-color: #FF9900; }
  div.green{ background-color: #79B400; }
  div.white{ background-color: #FFF; }
  div.colorful A { color: #FFF; padding:5px; font-size:14px; font-weight:bold; }
  div.white A { color: #EC1F26; }
</style-->
            <div class="span-15 prepend-1">
              <TABLE>
                <TR>
                  <TD class="bullet"><img src="/images/saaku_bullet_new.png"></TD>
                  <TD valign="middle">
                      <div style="font-weight:bold;font-size:16px;">
                        Fight against corruption every day
                      </div>
                      <div style="font-weight:normal;font-size:12px;">
                        small victories that add up to a lot <A href="/fight">Read more</A>
                      </div>
                  </TD>
                </TR>
                <TR>
                  <TD class="bullet"><img src="/images/saaku_bullet_new.png"></TD>
                  <TD valign="middle">
                      <div style="font-weight:bold;font-size:16px;">
                        Awareness and Networking
                      </div>
                      <div style="font-weight:normal;font-size:12px;">
                        Building CHAMPIONS against corruption
                      </div>
                  </TD>
                </TR>
                <TR>
                  <TD class="bullet"><img src="/images/saaku_bullet_new.png"></TD>
                  <TD valign="middle">
                      <div style="font-weight:bold;font-size:16px;">
                        Vote against Corruption
                      </div>
                      <div style="font-weight:normal;font-size:12px;">
                        Let your ballot speak for you. <A href="/voteright">Read more</A>
                      </div>
                  </TD>
                </TR>
              </TABLE>
              <hr/>
              <div class="colorful orange"> <A href="/docs/JanLokpalBill.pdf">The Jan Lokpal Bill</A> </div>
              <div class="colorful white"> <A href="/docs/Salient_features_of_JanLokpal_Bill.pdf">Salient features of Jan Lokpal Bill</A> </div>
              <div class="colorful green"> <A href="/docs/Comparision_of_Government_Bill_with_JanLokpal.pdf">Goverment's Lokpal Bill Vs Jan Lokpal Bill</A> </div>
            </div>
            <div class="span-8 last">
              <TABLE border=1 class="colorful">
                <TR><TD><div><A href="#">Coordinators</A></div></TD> <TD><div><A href="#">Contribute</A></div></TD></TR>
                <TR><TD><div><A href="#">Complaints</A></div></TD> <TD><div><A target="_blank" href="https://www.facebook.com/pages/Saaku/218303511518787">Facebook</A></div></TD>
                </TR>
              </TABLE>
              <iframe src="http://is.gd/b8039b" width="300" height="300"></iframe>
            </div>
