<TABLE class="colorful auto_width">
  <TR>
    <TD> <Div><A href="/events/<%= @event.cached_slug %>/attend">I want to attend</A></DIV></TD>
    <TD> <Div><A href="/events/<%= @event.cached_slug %>/invite">I want to invite others </A></DIV></TD>
  </TR>
  <TR>
    <TD> <Div><A href="/events/<%= @event.cached_slug %>/volunteer">I want to Volunteer </A></DIV></TD>
    <TD> <Div><A href="/events/<%= @event.cached_slug %>/attendees">See who is coming </A></DIV></TD>
  </TR>
</TABLE>
