<div style="margin-left: 11px; width: 302px; font-family: Verdana;">
  <div style="text-align: center;"><span class="highlighted-text">Rally Route</span></div>
  <div style="text-align: center;">(Click to enlarge the Route)</div>
  <a onclick="return myPopup(this, 'Script');" href="<%= @event.rallyroute.url(:original) %>" style="text-decoration: none;" title="Click to view a higher resolution Route"> <img src="<%= @event.rallyroute.url(:small) %>" /> </a>
</div>
