<div style="margin-left: 11px; border: 2px solid rgb(0, 0, 0); width: 278px; font-family: Verdana; margin-top: 15px;">
   <p style="margin: 0pt; font-size: 18px; padding: 5px; background-color: rgb(236, 31, 38); color: rgb(255, 255, 255); font-weight: bold; text-align: center;">Schedule</p>
   <!--p style="font-size: 14px; padding: 0px 10px 10px; margin: 0pt; font-weight: bold; background-color: rgb(255, 220, 115);" id="flash_text">
       <span style="border-bottom: 1px dotted rgb(236, 31, 38);">Sunday, 30 January 2011</span><br>
       10 AM : Walk from M.G. Statue to Kanteerava Stadium and back<br>
       11 AM : Gathering at M.G. Statue
   </p-->
   <p style="font-size: 14px; padding: 0px 10px 10px; margin: 0pt; font-weight: bold; background-color: rgb(255, 220, 115);" id="flash_text">
    <%= @event.schedule %> 
   </p>
 </div>
