<p style="text-align: center; border-top: 1px dotted rgb(0, 0, 0); border-bottom: 1px dotted rgb(0, 0, 0); padding-bottom: 5px; margin-left: 11px; margin-top: 5px; padding-top: 5px; width: 278px;">
      <a href="http://facebook.com/indiacor" style="color: rgb(236, 31, 38); font-size: 20px; font-weight: bold;">Facebook</a>
      <!-- &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
      <a href="http://twitter.com/indiacor" style="color: rgb(236, 31, 38); font-size: 20px; font-weight: bold;">Twitter</a-->
</p>
