<div style="border-bottom:1px dotted #000;margin-right:15px;">
<ul class="pretty-listing">
  <% @upcoming_events.each do |event| %>
  <li>
    <span style="font-size: 14px; font-weight: bold; font-family: Verdana;">
      <%= event.title %> <%= event_time(event) %>
    </span> -
    <A href="/events/<%= event.cached_slug %>" style="font-size:12px;">Read More
      <% if event.cover_poster.url.match(/missing.png$/).nil? %>
      <img src="<%= event.cover_poster.url(:large) %>" />
      <% end %>
    </A>
  </li>
  <% end %>
</ul>
</div>

