<div style="padding:5px;border:1px dotted #000;height:auto;margin-bottom:5px;" class="quick-links">
   <p style="padding-left:10px;border-bottom:1px dotted #000;"> <span class="highlighted-text">Upcoming Events</span></p>
      <ul class="pretty-listing">
          <% @upcoming_events.each do |event| %>
          <li><%= event.title %> <%= event_time(event) %> - <A href="/events/<%= event.cached_slug %>" style="font-size:12px;">Read More</A></li>
          <% end %>
      </ul>
</div>
