<ul class="admin-menu">
<li><%= link_to 'Events', admin_events_path %></li>
   <li><%= link_to 'Broadcast a message', new_admin_broadcast_message_path %></li>
   <li><A title="View Press releases" href="/admin/press_releases">View PRs</A></li>
   <li><A title="Create a Press release" href="/admin/press_releases/new">Create PR</A></li>
   <li><A href="/admin/quick_links">Quick Links</A></li>
   <li><A href="/admin/merchandises">Merchandise</A></li>
   <li><A href="/admin/surveys">Surveys</A></li>
   <!--li><A href="/imports/new">Import Registrations</A></li-->
</ul>
