<style>
  div.alert {
    border: 2px solid #000;
    background-color: #EC1F26;
    color: #FFF;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 4px;
    padding: 5px;
    text-align: center;
    margin-left:12px;
    margin-right: 16px;
  }
  span#flash_text {
    font-size: 16px;
    color: #FFF;
    color: #FF9900;
    font-weight: bold;
  }
</style>
<div id="alert" class="alert" style="display:none;"></div>
