<img src="/images/footer-new.jpg" USEMAP="#participants"/>

<div style="text-align:center;font-family:Verdana;font-size:13px;">Saaku event is in solidarity with other concerned Indians citizens participating in "national campaign against corruption In India" <A target="_blank" href="http://www.killcorruption.org">Kill Corruption</A></div>
<A target="_blank" href="http://www.killcorruption.org"><img src="/images/KillCorruption-1.jpg" style="margin-left:5px;"/></A>

<MAP Name="participants">
	<AREA HREF="http://ipaidabribe.com/" target="_blank" ALT="I PAID A BRIBE" TITLE="I PAID A BRIBE" SHAPE=RECT COORDS="15, 44, 158, 76">
	<AREA HREF="http://loksattakarnataka.org/" target="_blank" ALT="Loksatta Party" TITLE="Loksatta Party" SHAPE=RECT COORDS="191, 42, 328, 73">
	<AREA HREF="http://www.forward150.org/" target="_blank" ALT="Forward 150" TITLE="Forward 150" SHAPE=RECT COORDS="355, 40, 472, 84">
	<AREA HREF="http://www.praja.in/" target="_blank" ALT="Praja" TITLE="Praja" SHAPE=RECT COORDS="497, 33, 611, 80">
	<AREA HREF="http://www.nyayapara-andolana.org/" target="_blank" ALT="Sachidananda Nagara Nyayapara Andolana" TITLE="Sachidananda Nagara Nyayapara Andolana" SHAPE=RECT COORDS="652, 36, 742, 77">
	<AREA HREF="http://www.adrindia.org/" target="_blank" ALT="Association for Democratic Reforms" TITLE="Association for Democratic Reforms" SHAPE=RECT COORDS="757, 37, 948, 68">
	<AREA HREF="http://www.swarathma.com/" target="_blank" ALT="Swarathma" TITLE="Swarathma" SHAPE=RECT COORDS="69, 120, 218, 147">
	<AREA HREF="http://www.namma-bengaluru.in/home.html" target="_blank" ALT="Namma Bengaluru Foundation" TITLE="Namma Bengaluru Foundation" SHAPE=RECT COORDS="258, 107, 383, 160">
	<AREA HREF="http://www.dakshindia.org" target="_blank" ALT="Daksh India" TITLE="Daksh India" SHAPE=RECT COORDS="445, 97, 508, 165">
	<AREA HREF="http://www.thermalandaquarter.com/" target="_blank" ALT="Thermal And A Quarter" TITLE="Thermal And A Quarter" SHAPE=RECT COORDS="586, 88, 670, 162">
	<AREA HREF="#" target="_blank" ALT="Empowered Bengaluru" TITLE="Empowered Bengaluru" SHAPE=RECT COORDS="739, 87, 825, 154">
	<AREA HREF="http://www.smartvote.in" target="_blank" ALT="SMART VOTE" TITLE="SMART VOTE" SHAPE=RECT COORDS="14, 193, 121, 256">
	<AREA HREF="#" target="_blank" ALT="I will not give/take bribe" TITLE="I will not give/take bribe" SHAPE=RECT COORDS="171, 189, 241, 259">
	<AREA HREF="http://www.unodc.org/unodc/en/corruption/index.html" target="_blank" ALT="UNODC and Corruption" TITLE="UNODC and Corruption" SHAPE=RECT COORDS="297, 186, 380, 259">
	<AREA HREF="http://www.anticorruptioncommittee.com/" target="_blank" ALT="Anti Corruption Committee" TITLE="Anti Corruption Committee" SHAPE=RECT COORDS="438, 185, 516, 235">
	<AREA HREF="#" target="_blank" ALT="Swamy Vivekananda Youth Movement, Mysore" TITLE="Swamy Vivekananda Youth Movement, Mysore" SHAPE=RECT COORDS="576, 181, 655, 263">
	<AREA HREF="http://www.wayeonline.org/" target="_blank" ALT="World Alliance for Youth Empowerment" TITLE="World Alliance for Youth Empowerment" SHAPE=RECT COORDS="729, 180, 794, 260">
	<AREA HREF="http://yuvabengaluru.org/" target="_blank" ALT="Yuva Bengaluru" TITLE="Yuva Bengaluru" SHAPE=RECT COORDS="855, 184, 939, 263">

</MAP>
