<div style="margin-left:11px;border:2px solid #000;width:278px;font-family:Verdana;margin-top:15px;">
  <p style="margin:0;font-size:18px;padding:5px;background-color:#EC1F26;color:#FFF;font-weight:bold;text-align:center;">Schedule</p>
  <p id ="flash_text" style="font-size:14px;padding:10px;padding-top:0px;margin:0;font-weight:bold;background-color:#FFDC73;">
	 <span style="border-bottom:1px dotted #EC1F26;">Saturday, 11 December 2010</span><br/>
    9 30 AM : Walk from Kanteerava Stadium to Shanti nagar Grounds <br/>
    10 AM : Meeting at Shanti nagar Grounds (Next to Hockey Stadium)
  </p>
</div>
<br/>
<div style="width:302px;font-family:Verdana;">
	<div style="text-align:center;"><span class="highlighted-text">Rally Route</span></div>
	<div style="text-align:center">(Click to enlarge the Route)</div>
	<A title="Click to view a higher resolution Route" style="text-decoration:none;" href="/images/saaku-walk-route.png" onClick="return myPopup(this, 'Script');"><img src="/images/saaku-walk-route-small.png"/></A>
</div>
<br/>
<div style="width:302px;font-family:Verdana;">
	<div style="text-align:center;"><span class="highlighted-text">Getting to the Venue</span></div>
	<div style="text-align:center">(Click to view venue, directions and transport options)</div>
	<A title="Know how to get to the Venue" style="text-decoration:none;" href="http://www.btis.in/mapid/6697" target="_blank"><img src="/images/saaku-mapid-thumb.png" /></A>
</div>
